@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

@font-face {
  font-family: "Pixter-Display";
  src: url("/public/fonts/PixterDisplay.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background-color: #0a1628;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.backface-hidden {
  backface-visibility: hidden;
}

.clip-diagonal {
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
  outline: 4px solid #02fe00;
}

.image-filter {
  filter: grayscale(100%) contrast(200%);
}

@layer base {
  img {
    @apply inline-block;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* .font-Pixter-Display {
    font-family: "Pixter-Display", sans-serif;
  } */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none; /* Firefox */

  /* Chrome, Safari, Edge */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
